body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 62.5%;
}

input, textarea, select {
	border: 1px solid #999;
	background: none;
}

button {
	background-color: Silver;
}


input:focus, textarea:focus, select:focus {
  background   : rgba(0,0,0,.1);
  outline      : none;
}

a, u {
    text-decoration: none;
}


.listTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	background: #fff;
	margin: 10px;
	border-collapse: collapse;
	text-align: left;
}
.listTable th
{
	font-size: 12px;
	font-weight: bold;
	color: #585858;
	padding: 5px 4px;
	border-bottom: 2px solid #585858;
}
.listTable td
{
	border: 1px solid #777;
	color: #336;
	padding: 3px 4px;
}

.title
{
	font-weight: bold;
}
